@import url("https://fonts.cdnfonts.com/css/miama");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
/* font-family: "Inter", sans-serif;
font-family: 'Miama', sans-serif;
*/
* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}
/* colors */
:root {
  --primary-orange: #e6533c;
  --primary-bg-black: #000000;
  --card-bg-white: rgba(255, 255, 255, 0.3);
  --desc-text-color: rgba(255, 255, 255, 0.5);
  --general-text-color: rgb(255, 255, 255);
}

/* shared style */

.flex {
  display: flex;
}
body {
  background: #000;
  color: #fff;
  max-width: 1440px;
  margin: 0 auto;
}
.selected-page {
  background-color: var(--primary-orange);
  font-weight: 600;
}
.primary-btn {
  font-size: 1.125rem;
  font-weight: 600;
  background-color: var(--primary-orange);
  border-radius: 39px;
  color: #ffffff;
  padding: 16px 40px;
  border: none;
}
.no-bg-btn {
  font-size: 1.125rem;
  font-weight: 600;
  background-color: #000000;
  border-radius: 39px;
  color: #ffffff;
  padding: 16px 40px;
  border: 1px solid;
}
.text-center {
  text-align: center;
}
.section-title {
  margin-bottom: 1rem;
  font-size: 3rem;
}
.section-description {
  color: var(--desc-text-color);
  font-size: 0.875rem;
  padding: 0 10px;
}

/* Width and center-align */
.navbar,
.banner,
.habits,
.run-extra,
.our-team,
.footer-content {
  max-width: 73.61%;
  margin: 0 auto;
  /* margin-top: 57px; */
}

/* header */

header {
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
  padding-top: 57px;
}

/* Navbar */

.navbar,
.nav-items-container {
  align-items: center;
}
.navbar {
  justify-content: space-between;
  max-width: 73.61%;
  margin: 0 auto;
}
.brand {
  font-size: 1.38rem;
  font-weight: 800;
  font-style: italic;
  color: var(--primary-orange);
}
.nav-items-container {
  padding: 4px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
}
.nav-items {
  list-style: none;
  gap: 47px;
  li {
    padding: 8px 20px;
    border-radius: 46px;
    a {
      text-decoration: none;
      color: var(--general-text-color);
    }
  }
}
.burger-menu {
  display: none;
}

/* Banner-section */
.banner {
  align-items: center;
  justify-content: space-between;
  margin-top: 96px;
}
.banner-left {
  max-width: 520px;
  margin-bottom: 48px;
}
.banner-title {
  font-weight: 900;
  font-size: 4.875rem;
  line-height: 110%;
}
#shape {
  font-family: "Miama", sans-serif;
  font-weight: 400;
  font-size: 5rem;
  font-style: italic;
}
.banner-description {
  color: var(--desc-text-color);
  margin: 28px auto;
  line-height: 150%;
}

/* .banner-btns > * {
  margin-right: 14px;
  margin-bottom: 14px;
} */
.banner-btns {
  gap: 14px;
}

.banner-right {
  position: relative;
}
.banner-img {
  width: 100%;
}
.banner-card {
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  padding: 16px 24px;
  p {
    color: var(--desc-text-color);
  }
}
#banner-card-1 {
  left: 230px;
  top: 125px;
  right: -60px;
  h1 {
    font-size: 2.5rem;
  }
  p {
    font-size: 0.8125rem;
  }
}
#banner-card-2 {
  left: -113px;
  top: 421px;
  right: 256px;
  h1 {
    font-size: 1.5rem;
  }
}

.circle-css {
  height: 40px;
  width: 40px;
  background-color: var(--primary-orange);
  border-radius: 50%;
}
.card-2 {
  align-items: center;
  gap: 12px;
}

/* main */
/* section "habits" */
.habits {
  margin-top: 100px;
}

.habits-title-box {
  max-width: 60%;
  margin: 0 auto 58px auto;
}
/* .habits-title {
  margin-bottom: 16px;
  font-size: 48px;
}
.habits-description {
  color: var(--desc-text-color);
  font-size: 14px;
  padding: 0 10px;
} */
.habits-card-box {
  justify-content: space-between;
}
.habits-card {
  text-align: center;
  img {
    border-radius: 50%;
    margin-bottom: 30px;
  }

  h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 4px;
  }
  p {
    color: var(--desc-text-color);
    font-size: 14px;
    padding: 0 10px;
  }
}
/* run extra */
.run-extra {
  justify-content: space-between;
  background-color: rgb(34, 34, 34);
  padding: 41px 54px;
  margin-top: 100px;
  border-radius: 18px;
  min-height: 370px;
}
.run-extra-text_box {
  max-width: 443px;
  padding-right: 50px;

  h1 {
    font-weight: 900;
    margin-bottom: 14px;
  }
  p {
    line-height: 24px;
    margin-bottom: 34px;
  }
}
.run-extra-img {
  width: 366px;
  height: 322px;
  border-radius: 18px;
  overflow: hidden;

  img {
    object-position: -766px -200px;
  }
}
/* BNI Calculator */
.bmi-headings{
  max-width: 670px;
  margin: 88px auto 88px auto;
}
.bmi-content{
  background-color: rgba(255, 255, 255, 0.1);
}
/* our team */
.our-team {
  margin-top: 90px;
}
.trainer-img-grid {
  background-color: rgb(34, 34, 34);
  border-radius: 18px;
  padding: 20px;
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
#trainer-1 {
  background-image: url(../images/trainer1.png);
}
#trainer-2 {
  background-image: url(../images/trainer2.png);
}
#trainer-3 {
  background-image: url(../images/trainer3.png);
}
#trainer-4 {
  background-image: url(../images/trainer4.png);
}
#trainer-5 {
  background-image: url(../images/trainer5.png);
}
#trainer-6 {
  background-image: url(../images/trainer6.png);
}
.img-box {
  width: 100%;
  height: 272px;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: darken;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.img-box-text {
  position: absolute;
  left: 15px;
  bottom: 15px;
  h1 {
    font-size: 1.25rem;
    font-weight: 900;
  }
  p {
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
  }
}

/* footer */
footer {
  margin-top: 88px;
  padding-bottom: 35px;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-brand {
  font-size: 4.375rem;
  margin-bottom: 20px;
}
.footer-description {
  font-size: 0.875rem !important;
}
.footer-content {
  padding-top: 65px;
  display: grid;
  grid-template-columns: repeat(1, 1fr) 25% 25%;
}
.footer-column {
  /* width: auto; */
  margin-bottom: 80px;
  h3 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 39px;
  }
  p {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.5);
  }
}

.column1 {
  width: 443px;
}
/* 
.column2{
  width: 181px;
}
.column3{
  width: 181px;
}
 */
.footer-hr {
  width: 1060px;
  margin: 0 auto;
  border: 2px solid rgba(255, 255, 255, 0.1);
}
.copy-rights {
  padding-top: 35px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25rem;
  text-align: center;
}
/* Responsive style */
/* Small device: up to 576 px 
 Medium Device: 576px to 992 px 
 Large Device: above 993 px  */
/* Mobile / 576px range */

@media screen and (max-width: 576px) {
  header {
    padding-top: 52px;
  }
  .section-title {
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  /* Navbar */
  .nav-items-container {
    display: none;
  }
  /* All Widths */
  .navbar,
  .banner,
  .habits,
  .footer-content,
  .run-extra,
  .our-team {
    max-width: 90%;
  }

  .burger-menu {
    display: block;
  }
  /* banner */
  .banner {
    margin-top: 52px;
    flex-direction: column;
  }
  .width-285px {
    max-width: 285px;
  }
  .banner-title {
    font-weight: 900;
    font-size: 2.25rem;
  }
  #shape {
    font-family: "Miama", sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    font-style: italic;
  }
  .primary-btn,
  .no-bg-btn {
    font-size: 1rem;
    padding: 12px 20px;
  }

  #banner-card-1 {
    left: 194px;
    top: 47px;
    right: inherit;
    h1 {
      font-size: 1.89rem;
    }
    p {
      font-size: 0.614rem;
    }
  }
  #banner-card-2 {
    left: 12px;
    top: 271.38px;
    right: inherit;
    h1 {
      font-size: 1.13rem;
    }
    p {
      font-size: 0.756rem;
    }
  }
  .circle-css {
    height: 30.24px;
    width: 30.24px;
  }
  /* Habits */

  .habits-title-box {
    max-width: 100%;
  }
  .habits-title {
    margin-bottom: 14px;
    font-size: 2rem;
  }
  .habits-description {
    padding: 0;
  }
  .habits-card-box {
    flex-direction: column;
  }
  .habits-card {
    margin-bottom: 40px;
  }
  /* run-extra */
  .run-extra {
    flex-direction: column;
    padding: 35px 33px;
    height: auto;
  }
  .run-extra-text_box {
    max-width: 443px;
    padding-right: 0;

    h1 {
      font-size: 32px;
      padding-right: 73px;
    }
    button {
      width: 100%;
    }
  }
  .run-extra-img {
    margin-top: 30px;
    width: 100%;
    height: auto;
    img {
      width: 100%;
      object-position: 0 0;
    }
  }
  /* our-team */
  .trainer-img-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  /* footer */
  .footer-content {
    grid-template-columns: repeat(1, 1fr);
  }

  .column1 {
    width: auto;
  }
  .footer-hr {
    width: auto;
    margin: 0 20px;
  }
  .copy-rights {
    text-align: left;
    margin-left: 20px;
  }
}
