@import url("https://fonts.cdnfonts.com/css/miama");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
/* font-family: "Inter", sans-serif;
font-family: 'Miama', sans-serif;
*/
* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}
/* colors */
:root {
  --primary-orange: #e6533c;
  --primary-bg-black: #000000;
  --card-bg-white: rgba(255, 255, 255, 0.1);
  --desc-text-color: rgba(255, 255, 255, 0.5);
  --general-text-color: rgb(255, 255, 255);
}

/* shared style */

.flex {
  display: flex;
}
body {
  background: #000;
  color: #fff;
  max-width: 1440px;
  margin: 0 auto;
}
.selected-page {
  background-color: var(--primary-orange);
  font-weight: 600;
}
.primary-btn {
  font-size: 1.125rem;
  font-weight: 600;
  background-color: var(--primary-orange);
  border-radius: 39px;
  color: #ffffff;
  padding: 16px 46.5px;
  border: none;
}
.no-bg-btn {
  font-size: 1.125rem;
  font-weight: 600;
  background-color: #000000;
  border-radius: 39px;
  color: #ffffff;
  padding: 16px 46.5px;
  border: 1px solid;
}
/* Width and center-align */
.navbar,
.banner {
  width: 73.61%;
  margin: 0 auto;
  margin-top: 57px;
}

/* header */

header {
  background: linear-gradient(180deg, #111111 31%, rgb(119 119 119 / 0%) 70%);

  padding-top: 57px;
}

/* Navbar */

.navbar,
.nav-items-container {
  align-items: center;
}
.navbar {
  justify-content: space-between;
  width: 73.61%;
  margin: 0 auto;
}
.brand {
  font-size: 1.38rem;
  font-weight: 800;
  font-style: italic;
  color: var(--primary-orange);
}
.nav-items-container {
  padding: 4px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
}
.nav-items {
  list-style: none;
  gap: 47px;
  li {
    padding: 8px 20px;
    border-radius: 46px;
    a {
      text-decoration: none;
      color: var(--general-text-color);
    }
  }
}
.burger-menu {
  display: none;
}

/* Banner-section */
.banner {
  align-items: center;
  justify-content: space-between;
}
.banner-left {
  max-width: 520px;
}
.banner-title {
  font-weight: 900;
  font-size: 4.875rem;
  line-height: 110%;
}
#shape {
  font-family: "Miama", sans-serif;
  font-weight: 400;
  font-size: 5rem;
  font-style: italic;
}
.banner-description {
  color: var(--desc-text-color);
  margin: 28px auto;
}

.banner-btns > * {
  margin-right: 14px;
}
.banner-right {
  position: relative;
}
.banner-img {
  width: 100%;
}
.banner-card {
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  padding: 16px 24px;
  p {
    color: var(--desc-text-color);
  }
}
#banner-card-1 {
  left: 230px;
  top: 125px;
  right: -60px;
  h1 {
    font-size: 2.5rem;
  }
  p {
    font-size: 0.8125rem;
  }
}
#banner-card-2 {
  left: -113px;
  top: 421px;
  right: 256px;
  h1 {
    font-size: 1.5rem;
  }
}

.circle-css {
  height: 40px;
  width: 40px;
  background-color: var(--primary-orange);
  border-radius: 50%;
}
.card-2 {
    align-items: center;
  gap: 12px;
}
/* Responsive style */
/* Mobile / 576px range */

@media screen and (max-width: 576px) {
  /* Navbar */
  .nav-items-container {
    display: none;
  }
  .navbar {
    margin-top: 52px;
    width: 90%;
  }
  .burger-menu {
    display: block;
  }
}
